<!--TEACHER PAGE-->
<% if session[:teacher_id] %>
    <ul class="collapsible popout" data-collapsible="accordion">

      <!--VIEW ALL EVENTS-->
      <% @teacherview.each do |item| %>
          <li>
            <div class="collapsible-header"><%= item[:event].date.to_time.strftime("%B %d, %Y") %>:
              <span class="title"><%= item[:event].name %></span></div>
            <div class="collapsible-body">
              <div>
                <table class="centered highlight bordered">
                  <thead>
                  <tr>
                    <th data-field="name">Item</th>
                    <th data-field="requested">Requested</th>
                    <th data-field="status">Status</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% item[:resources].each do |thing| %>
                      <tr>
                        <td><%= thing[:info].name %></td>
                        <td><%= thing[:info].quantity %></td>
                        <td><%= thing[:sum] %></td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
              <form class="right-align" method="post" action="/events/<%= item[:event].id %>">
                <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                <input name="_method" type="hidden" value="delete" />
                <input name="e_id" type="hidden" value="<%= item[:event].id %>" />
                <button class="waves-effect waves-light btn #0d47a1 red darken-4" type="submit" name="action">Delete
                  Event
                </button>
              </form>
            </div>
          </li>
      <% end %>

      <!--ADD NEW EVENT-->
      <li>
        <div class="collapsible-header
          <% if flash[:errors] %>active
      <% end %>">ADD A NEW EVENT
        </div>
        <div class="collapsible-body" style="padding:10px;">
          <form method="post" action="/events">
            <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
            <input type="hidden" name="event[teacher_id]" value="<%= session[:teacher_id] %>">
            <div class="row">
              <div class="input-field col s6">
                <input name="event[name]" type="text">
                <label class="active">Name of event</label>
              </div>
              <div class="input-field col s6">
                <input type="date" name="event[date]" class="datepicker">
                <label class="active">Date</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input name="resource[Chaperones]" type="text">
                <label class="active">Chaperones needed</label>
              </div>
              <div class="input-field col s6">
                <input name="resource[Rides]" type="text">
                <label class="active">Rides needed</label>
              </div>
            </div>
            <div id="newevent">
              <div class="row">
                <div class="input-field col s8">
                  <input name="item_name[1]" type="text">
                  <label class="active">Item needed</label>
                </div>
                <div class="input-field col s4">
                  <input name="item_quantity[1]" type="text">
                  <label class="active">Quantity</label>
                </div>
              </div>
            </div>
            <div class="row right-align" style="padding-right:20px;">
              <button class="waves-effect waves-light btn #0d47a1 blue darken-4" type="submit" name="action">Add Event
              </button>
            </div>
          </form>
          <!--<div class="row left-align" style="padding-left:20px;">-->
          <!--<button class="waves-effect waves-light btn #0d47a1 green darken-4" id="addrow">I need more rows</button>-->
          <!--</div>-->
          <% if flash[:errors] %>
              <% flash[:errors].each do |error| %>
                  <%= error %><br>
              <% end %>
          <% end %>
        </div>
        </div>
      </li>

    </ul>

    <!--PARENT PAGE-->
<% else %>
    <ul class="collapsible popout" data-collapsible="accordion">
      <% @parentview.each do |item| %>
          <li>
            <div class="collapsible-header"><%= item[:event].date.to_time.strftime("%B %d, %Y") %>:
              <span class="title"><%= item[:event].name %></span></div>
            <div class="collapsible-body">

              <form method="post" action="/events/<%= session[:parent_id] %>">
                <input name="_method" value="patch" type="hidden">
                <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                <div>
                  <table class="centered highlight bordered">
                    <thead>
                    <tr>
                      <th data-field="id">Item</th>
                      <th data-field="total">Total needed</th>
                      <th data-field="supply">Total supplied</th>
                      <th data-field="youbring">You're bringing</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% item[:resources].each do |thing| %>
                        <tr>
                          <td><%= thing[:info].name %></td>
                          <td><%= thing[:info].quantity %></td>
                          <td><%= thing[:sum] %></td>
                          <td>
                            <div class="input-field">
                              <input class="center-align" id="updating" name="[item]<%= thing[:info].id %>" value="<%= thing[:quantity] %>" type="text" style="width:25%">
                            </div>
                          </td>
                        </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
                <div class="row right-align" style="padding-right:20px;">
                  <button class="waves-effect waves-light btn #0d47a1 blue darken-4" type="submit" name="action">Update
                  </button>
                </div>
              </form>
            </div>
          </li>
      <% end %>

    </ul>
<% end %>